# *Loops

## For loop
### used to iterate over sequence of numbers

#### Iterating over a range

In [1]:
range(5)

range(0, 5)

In [2]:
for i in range(5):     # in the range(5)--> the number 5 is not included
    print(i)

0
1
2
3
4

In [3]:
for i in range(1,6):     # in the range(1,6)--> from 1 to 6 including 1 and excluding 6
    print(i)

1
2
3
4
5

In [4]:
for i in range(1,10,1):     # third parameter is the step size
    print(i)

1
2
3
4
5
6
7
8
9

In [5]:
for i in range(1,10,2):     
    print(i)

1
3
5
7
9

In [7]:
for i in range(10,1,-1):     
    print(i)

10
9
8
7
6
5
4
3
2

In [8]:
for i in range(10,1,-2):     
    print(i)

10
8
6
4
2

#### Iterating over a string

In [9]:
str = "Aditi Mishra"
for i in str:
    print(i)

A
d
i
t
i

M
i
s
h
r
a

## While loop
### Continues to execute as long as the condition is true

In [10]:
count = 0
while count<5:
    print(count)
    count = count+1

0
1
2
3
4

# *loop Control statements

## Break Statement:

### Exits the loop prematurely

In [17]:
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

## Continue statement

### skips the current iteration and cotinues with the next

In [13]:
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

## Pass

### The pass statement is a null operation; it does nothing.

In [16]:
for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

# *Nested Loops

### a loop inside a loop.

In [18]:
for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

# Examples

#### Calculate the sum of first N natural numbers using a while and for loop

In [20]:
# while loop
n = 10
sum = 0
count = 1

while count<=n:
    sum = sum+count
    count = count+1

print("Sum of first 10 natural numbers:",sum)

Sum of first 10 natural numbers: 55

In [21]:
# for loop 
n = 10
sum = 0
count = 1
for i in range(11):
    sum = sum+i

print("Sum of first 10 natural numbers:",sum)

Sum of first 10 natural numbers: 55

#### Prime numbers btw 1 and 100

In [29]:
for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
                print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Conclusion
loops are powerful constructs in python that allows us to execute a block of code multiple times. By understanding and using for and while loops, along with loop control statements like break, continue, and pass, we can handle a wide range of programming tasks efficiently.